
body{
}

#editArea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 800px;
    font-size: 30pt;
    font-family: 'Times New Roman', Times, serif;
}

#logo{
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}